@()
<div id="footer">
	<div class="navbar navbar-fixed-bottom">
		<div class="container">
			<ul class="inline">
				<li><small> <a href="@routes.App.about()">@Messages("About")</a>
				</small></li>
				<li><small><a href="#">@Messages("Policy")</a></small></li>
				<li><small><a href="#">@Messages("FAQ")</a></small></li>
				<li><small><a href="@routes.App.contactNewForm()">@Messages("Contact")</a></small></li>
				<li><small><a href="http://www.facebook.com/KiyakFiyat">Facebook</a></small></li>
				<li><small><a href="http://twitter.com/KiyakFiyat">Twitter</a></small></li>
			</ul>
		</div>
	</div>
</div>