@()
<div id="footer">
	<div class="navbar navbar-fixed-bottom">
		<div class="container">
			<small><a class="navbar-text" href="@routes.Page.about">@Messages("About")</a></small>
			<small><a class="navbar-text" href="@routes.Page.policy">@Messages("Policy")</a></small>
			<small><a class="navbar-text" href="@routes.Page.faq">@Messages("FAQ")</a></small>
			<small><a class="navbar-text" href="@routes.App.contactNewForm()">@Messages("Contact")</a></small>
			<small><a class="navbar-text" href="http://www.facebook.com/PublicPlay">Facebook</a></small>
			<small><a class="navbar-text" href="http://twitter.com/PublicPlay">Twitter</a></small>
		</div>
	</div>
</div>
