@(title: String)
        <title>@Messages("Page_title", title)</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jasny-bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.css")">
        <!--[if lt IE 9]> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/font-awesome-ie7.min.css")"><![endif]-->
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/remaining-chars.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"> 
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jasny-bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/post_rating.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/holder.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/remaining-chars.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-extensions.js")" type="text/javascript"></script>