@(title: String, scripts: Html = Html(""), metaTags: Html = Html("") , header: Html = Html(""), footer: Html = template.footer(), hideNavbar:Boolean = false)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        @template.head(title)
        @scripts
        @metaTags
    </head>
    <body>
    	<div class="container-narrow">
        @template.elements()
    
    @if(!hideNavbar) {
        @template.navbar()
    }
        
        <section id="main">
	       
	        @header
	       
	        @content
	       
	        @footer
	        
        </section>    
        </div> 
    </body>
</html>
