@(currentPage: Page[Category])
@import helper._ 
@import helper.twitterBootstrap._
@import helper.H._

@main(Messages("Categories"), null) {

	<h3>@Messages("Category_num", currentPage.getTotalRowCount())</h3>
	
	<h4><a href="@routes.Admin.categoryNewForm">@Messages("Create_new_category")</a></h4>
    
    @if(currentPage.getTotalRowCount() == 0) {
        
        <div class="well">
            <em>@Messages("Nothing_to_display")</em>
        </div>
        
    } else {
	
    <table class="categories table table-striped table-bordered">
        <thead>
            <tr>
                <th class="header">@Messages("Categories")</th>
            </tr>
        </thead>
        <tbody>
        @for(category <- currentPage.getList) {
            <tr>
                <td>
                	<a href="@routes.Admin.categoryShow(category.getName())">@category.getName()</a>
                    <a class="btn btn-mini btn-danger pull-right spaced" href="@routes.Admin.categoryDelete(category.getName())">@Messages("delete")</a>
                    <a class="btn btn-mini pull-right spaced" href="@routes.Admin.categoryEditForm(category.getName())">@Messages("edit")</a>
               	</td>
            </tr>
        }
        </tbody>
    </table>
    
    }
}
