@(name: String, categoryForm: Form[Category])
@import helper._ 
@import helper.twitterBootstrap._

@main(if(name != null) Messages("update_category") else Messages("new_category"), null) {

	<h3>@if(name != null) { @Messages("update_category_detail") } else { @Messages("new_category_detail") } </h3>
    
    @form(if(name != null) { routes.Admin.categoryUpdate(categoryForm.get().getName()) } 
          else             { routes.Admin.categoryCreate() }) { 
        @inputText(categoryForm("name"), args = '_label -> Messages("Category.name.label"))
        <div>
           <input type="submit" class="btn btn-success" value="@if(name != null) { @Messages("Update") } else { @Messages("Create") }">
        </div>
    } 
}
