@(currentPage: com.avaje.ebean.Page[ContentReport], status: String = "")
@import helper._ 
@import helper.twitterBootstrap._
@import helper.H._
@import helper.ContentReportHelper._

@header = {
    <!-- filter buttons -->
    @Messages("Filter"):
    <br/>
    <div class="btn-group" data-toggle="buttons-radio">
        <a class='btn btn-inverse @if(status == null || "".equals(status)) {active}' href='@routes.Admin.contentReportList(null, 0)'>@Messages("ContentReport.status.All")</a>
        <a class='btn btn-inverse @if("NEW".equals(status)) {active}'       href='@routes.Admin.contentReportList("NEW", 0)'>@Messages("ContentReport.status.NEW")</a>
        <a class='btn btn-inverse @if("IGNORED".equals(status)) {active}'   href='@routes.Admin.contentReportList("IGNORED", 0)'>@Messages("ContentReport.status.IGNORED")</a>
        <a class='btn btn-inverse @if("PROCESSED".equals(status)) {active}' href='@routes.Admin.contentReportList("PROCESSED", 0)'>@Messages("ContentReport.status.PROCESSED")</a>
    </div>
}

@template.main(Messages("ContentReports"), header=header) {

	<h3>@Messages("ContentReport_num", currentPage.getTotalRowCount())</h3>
	
    @if(currentPage.getTotalRowCount() == 0) {
        
        <div class="well">
            <em>@Messages("Nothing_to_display")</em>
        </div>
        
    } else {
	
    <table class="contentReports table table-striped table-bordered">
        <thead>
            <tr>
	            <th class="header">@Messages("ContentReport.content.label")</th>
	            <th class="header">@Messages("ContentReport.status.label")</th>
	            <th class="header">@Messages("ContentReport.createdOn.label")</th>
	            <th class="header">@Messages("ContentReport.updatedOn.label")</th>
            </tr>
        </thead>
        <tbody>
        @for(contentReport <- currentPage.getList) {
            <tr>
                <td><a href="@routes.Admin.contentReportShow(contentReport.getContentType().name(), contentReport.getContentKey(), contentReport.getKey())">@Html(Messages("ContentReport.content." + contentReport.getContentType(), contentReport.getContentKey()))</a> </td>
                <td>@Messages("ContentReport.status." + contentReport.getStatus())</td>
                <td>@Html(Messages("CreatedOn_By", prettify(contentReport.getCreatedOn()), partials.userProfile(contentReport.getCreatedBy()))) </td>
                <td>@Html(Messages("UpdatedOn_By", prettify(contentReport.getUpdatedOn()), partials.userProfile(contentReport.getUpdatedBy()))) </td>
                @**
                <td>
                    <a class="btn btn-mini btn-danger pull-right spaced" href="@routes.Admin.contentReportDelete(contentReport.getKey())">@Messages("delete")</a>
                    <a class="btn btn-mini pull-right spaced" href="@routes.Admin.contentReportEditForm(contentReport.getKey())">@Messages("edit")</a>
               	</td>
               	**@
            </tr>
        }
        </tbody>
    </table>
    
    }
}
