@(contentReport: ContentReport, reports: List[ContentReport], post: Post, comment: Comment)
@import helper._ 
@import helper.twitterBootstrap._
@import helper.H._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import views.html.security._
@import helper.UserHelper._
@import helper.PostHelper._
@import helper.ContentReportHelper._
@script() = {
	<script type="text/javascript" src='@routes.Assets.at("javascripts/report_admin.js")'></script>
}

@template.main("ContentReport:" + contentReport.getContentType() + "(" + contentReport.getContentKey() + ")", script) {

<div class="container-fluid">
	<div class="row-fluid">
        <div class="span2">
		    <p>
        		@partials.image(post.getImage())
        	</p>
        	@if(post.getCategory() != null) {
		    <p>
        		<span class="label">@Messages("Category." + post.getCategory().getName())</span>
		    </p>
        	}
        </div>
        
        <div class="span6">
		    <div class="row">
		    	<p class="lead nl-withoutSpace">@postTitle(post)</p>
		    </div>
    		<div class="row">
       			<p class="nl-withoutSpace">@postContent(post)</p>
       			<small>
 			        @if(post.getUpdatedBy() == null) { 
			        @Html(Messages("CreatedOn_By", prettify(post.getCreatedOn()), partials.userProfile(post.getCreatedBy()))) } else { 
			        @Html(Messages("UpdatedOn_By", prettify(post.getUpdatedOn()), partials.userProfile(post.getUpdatedBy()))) }
 			        @if(post.getApprovedBy() == null) {
			        @Html(Messages("ApprovedOn_By", prettify(post.getApprovedOn()), partials.userProfile(post.getApprovedBy()))) }
       			</small>
   				<span id="status" class="badge">@Messages("Content.status." + post.getStatus())</span>
    		</div>
	    </div>
    </div>

    <div class="row-fluid">
        <div class="span9">
        <table class="comments table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="header">@Messages("Comments")</th>
                </tr>
            </thead>
            <tbody>
                <tr id="@comment.getKey()">
                    <td>
                        <small>
                        @if(comment.getUpdatedBy() == null) { 
                        @Html(Messages("CreatedOn_By", prettify(comment.getCreatedOn()), partials.userProfile(comment.getCreatedBy()))) } else { 
                        @Html(Messages("UpdatedOn_By", prettify(comment.getUpdatedOn()), partials.userProfile(comment.getUpdatedBy()))) }
				        @if(comment.getApprovedBy() != null) {
				        @Html(Messages("ApprovedOn_By", prettify(comment.getApprovedOn()), partials.userProfile(comment.getApprovedBy()))) }
                        </small>
                        @restrictCombine(la(as("admin")), "models.Comment.edit." + comment.getKey()) {
                        <a class="btn btn-mini pull-right spaced" href="@routes.App.commentEditForm(post.getKey(), comment.getKey())#form">@Messages("edit")</a>
                        }
                        @restrictCombine(la(as("admin")), "models.Comment.delete." + comment.getKey()) {
                        <a class="btn btn-mini btn-danger pull-right spaced" href="@routes.App.commentDelete(post.getKey(), comment.getKey())">@Messages("delete")</a>
                        }
 						<span id="status" class="badge">@Messages("Content.status." + comment.getStatus())</span>
                    </td> 
                </tr>

                <tr><td><p class="nl-withoutSpace">@comment.getContent()</p></td></tr>
            </tbody>
        </table>
        
        </div>
    </div>
    
	<div class="row-fluid">
		<div class="span8">
			@if(approvePossible(comment.getStatus())) { <a class="btn-approve btn btn-success spaced" data-key="comment-@comment.getKey()" href="javascript:void(0)" data-href="@routes.Api.commentApprove(comment.getKey())"><i class="icon-ok"></i> &nbsp; @Messages("approve")</a> }
			@if(removePossible(comment.getStatus())) { <a class="btn-remove btn btn-danger spaced" data-key="comment-@comment.getKey()" href="javascript:void(0)" data-href="@routes.Api.commentRemove(comment.getKey())"><i class="icon-trash"></i> &nbsp; @Messages("remove")</a> }
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span8">
			<h3>@Messages("ContentReport_num", reports.size())</h3>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span8">
	        <table class="table table-striped table-bordered">
	            <thead>
	                <tr>
	                    <th class="header">@Messages("ContentReports")</th>
	                </tr>
	            </thead>
	            <tbody>
	        @for(report <- reports) {
	                <tr id="@report.getKey()">
	                    <td>
	                    	@Messages("ContentReport." + report.getReason().name())
	                    	&nbsp;&nbsp;&nbsp;
	                        <small>
	                        @Html(Messages("CreatedOn_By", prettify(report.getCreatedOn()), partials.userProfile(report.getCreatedBy()))) 
	                        @if(report.getUpdatedBy() != null) { 
	                        @Html(Messages("UpdatedOn_By", prettify(report.getUpdatedOn()), partials.userProfile(report.getUpdatedBy()))) }
	                        </small>
	                        <a class="btn-ignore btn btn-mini btn-inverse pull-right spaced @if(report.isIgnored()) { disabled }" data-key="report-@report.getKey()" href="javascript:void(0)" data-href="@routes.Api.contentReportIgnore(report.getKey())" data-href='@Messages("ignored")'><i class="icon-minus"></i> &nbsp; @Messages("ignore")</a>
	                    </td> 
	                </tr>
	
	                <tr><td><p class="nl-withoutSpace">@report.getComment()</p></td></tr>
	        }
	            </tbody>
	        </table>
		</div>
	</div>
	

</div>
}
