@()
@import helper._ 
@import helper.twitterBootstrap._

@template.main("admin") {

    <h3>admin page</h3>
    
    <table class="posts table table-striped table-bordered">
        <thead>
            <tr>
                <th class="header">@Messages("Models")</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                	<a href="@routes.Admin.categoryNewForm()"><i class="icon-plus"></i> new</a>
                	&nbsp;
                	<a href="@routes.Admin.categoryList()"><i class="icon-list-alt"></i> category</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@routes.Admin.commentNewForm()"><i class="icon-plus"></i> new</a>
                	&nbsp;
                    <a href="@routes.Admin.commentList()"><i class="icon-list-alt"></i> comment</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@routes.Admin.postNewForm()"><i class="icon-plus"></i> new</a>
                	&nbsp;
                    <a href="@routes.Admin.postList()"><i class="icon-list-alt"></i> post</a>
                </td>
            </tr>
            <tr>
                <td>
                	<i class="icon-plus"></i> new
                	&nbsp;
                    <a href="@routes.Admin.s3FileList()"><i class="icon-list-alt"></i> s3File</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@routes.Admin.userNewForm()"><i class="icon-plus"></i> new</a>
                	&nbsp;
                    <a href="@routes.Admin.userNewBulkForm()"><i class="icon-plus"></i> bulk</a>
                	&nbsp;
                    <a href="@routes.Admin.userBulkList()"><i class="icon-list"></i> bulk list</a>
                	&nbsp;
                    <a href="@routes.Admin.userList(null, 0)"><i class="icon-list-alt"></i> user</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@routes.Admin.securityRoleNewForm()"><i class="icon-plus"></i> new</a>
                	&nbsp;
                    <a href="@routes.Admin.securityRoleList()"><i class="icon-list-alt"></i> securityRole</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@routes.Admin.sourceConfigurationNewForm()"><i class="icon-plus"></i> new</a>
                	&nbsp;
                    <a href="@routes.Admin.sourceConfigurationNewBulkForm()"><i class="icon-plus"></i> bulk</a>
                	&nbsp;
                    <a href="@routes.Admin.sourceConfigurationList()"><i class="icon-list"></i> config</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@routes.Admin.userFollowList()"><i class="icon-list-alt"></i> userFollow</a>
                </td>
            </tr>
        </tbody>
    </table>
}