@(currentPage: com.avaje.ebean.Page[ReputationValue])
@import helper._ 
@import helper.twitterBootstrap._
@import helper.H._

@template.main(Messages("Reputation_Value")) {

	<h3>@Messages("User.Reputation", currentPage.getTotalRowCount())</h3>
	
	<h4><a href="@routes.Admin.reputationValueNewForm">@Messages("Create_new_reputation_value")</a></h4>
    
    @if(currentPage.getTotalRowCount() == 0) {
        
        <div class="well">
            <em>@Messages("Nothing_to_display")</em>
        </div>
        
    } else {
	
    <table class="categories table table-striped table-bordered">
        <thead>
            <tr>
                <th class="header">@Messages("Reputations")</th>
                <th class="header">@Messages("Values")</th>
            </tr>
        </thead>
        <tbody>
        @for(reputationValue <- currentPage.getList) {
            <tr>
                <td>
                	<a href="@routes.Admin.reputationValueShow(reputationValue.getKey())">@reputationValue.getKey()</a>
                </td>
                <td>
                @reputationValue.getValue()
                    <a class="btn btn-mini btn-danger pull-right spaced" href="@routes.Admin.reputationValueDelete(reputationValue.getKey())">@Messages("delete")</a>
                    <a class="btn btn-mini pull-right spaced" href="@routes.Admin.reputationValueEditForm(reputationValue.getKey())">@Messages("edit")</a>
               	</td>
            </tr>
        }
        </tbody>
    </table>
    
    }
}
