@(image: S3File)
@import helper._ 
@import helper.H._
	<div class="fileupload-preview fileupload-exists thumbnail post-img-preview">
@if(image == null) {
	    <img data-src='@routes.Assets.at("javascripts/holder.js")/120x90/#fefef9:#000/text:@Messages("Post.image.no_image")' />
} else {
        <a data-toggle="modal" href="#imageModal-@image.id" >
            <img src="@image.getUrl()" alt='@Messages("Post.image.label")'/>
        </a>
		
        <div class="modal hide fade img-thumbnail" id="imageModal-@image.id">
            <span class="modal-header-withoutBorder pull-right">
                <button class="btn btn-xs btn-danger" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times-circle"></i></button>
            </span>
        	<img src="@image.getUrl()" />
        </div>         
  
}
	</div>
