@(image: S3File)
@import helper._ 
@import helper.H._
	<div class="fileupload-preview fileupload-exists thumbnail post-img-preview">
@if(image == null) {
	    <img data-src='holder.js/120x90/#fefef9:#000/text:@Messages("Post.image.no_image")' />
} else {
        <a data-toggle="modal" href="#imageModal-@image.id" >
            <img src="@image.getUrl()" alt='@Messages("Post.image.label")'/>
        </a>
		
        <div class="image modal fade" id="imageModal-@image.id">
			<div class="modal-header-withoutBorder">
			<button type="button" class="closeForModal" data-dismiss="modal" aria-hidden="true">&times;</button>
		</div>
        	<img src="@image.getUrl()" />
        </div>         
  
}
	</div>
