@import views.html.security._

@roleHolderNotPresent() {
	<!-- Modal -->
	<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">×</button>
			<h3 id="myModalLabel">@Messages("Login")</h3>
		</div>
		<div class="modal-body">@partials.login()</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("Close")</button>
		</div>
	</div> 

}
