@(currentPage: Page[_], pageSize:Integer, prevPage:play.api.mvc.Call, nextPage:play.api.mvc.Call)
@import helper.H._

@if(currentPage.getTotalRowCount > pageSize) {

<div id="pagination" class="pagination">
    <ul>
        @if(currentPage.hasPrev) {
            <li class="prev">
                <a href="@prevPage">&larr; @Messages("Previous")</a>
            </li>
        } else {
            <li class="prev disabled">
                <a>&larr; @Messages("Previous")</a>
            </li>
        }
        <li class="current">
            <a>@paging(currentPage)</a>
        </li>
        @if(currentPage.hasNext) {
            <li class="next">
                <a href="@nextPage">@Messages("Next") &rarr;</a>
            </li>
        } else {
            <li class="next disabled">
                <a>@Messages("Next") &rarr;</a>
            </li>
        }
    </ul>
</div>

}
