@(currentPage: Page[Post])
@import helper._ 
@import helper.twitterBootstrap._
@import helper.H._
@import helper.PostHelper._

    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>@Messages("Nothing_to_display")</em>
        </div>
        
    } else {
	
    <table class="posts table table-striped">
        <tbody>
        @for(post <- currentPage.getList) {
            <tr>
                <td class="center-horizontal col-posttop-rate">
                    <strong class="center-horizontal" data-key="rate-@post.getKey()" >@post.getRating()</strong>
                </td>
                <td class="noborder-left nl-withoutSpace">
                	<a href="@routes.App.postShow(post.getKey(), sanitizeURL(post.getTitle()))">@postTitle(post)</a>
               	</td>
            </tr>
        }
        </tbody>
    </table>

    }
