@(currentPage: Page[Post])
@import helper._ 
@import helper.twitterBootstrap._
@import helper.H._
@import be.objectify.deadbolt.views.html._

	<h3>@Messages("numposts", currentPage.getTotalRowCount)</h3>
	
	<h4><a href="@routes.PostController.newForm">@Messages("CreateNewPost")</a></h4>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
	
    <table class="posts table table-striped table-bordered">
        <thead>
            <tr>
                <th class="header">@Messages("Posts")</th>
            </tr>
        </thead>
        <tbody>
        @for(post <- currentPage.getList) {
            <tr>
                <td>
                	<a href="@routes.PostController.show(post.getKey(), sanitize(post.getTitle()))">@post.getTitle()</a>
                	<strong class="rating spaced" data-key="rate-@post.getKey()" >(@post.getRating())</strong>
                    <a class="rate spaced" data-key="rate-@post.getKey()" href="#" data-href="@routes.PostController.rateUp(post.getKey())"><i class="icon-thumbs-up"></i></a>
                    <a class="rate spaced" data-key="rate-@post.getKey()" href="#" data-href="@routes.PostController.rateDown(post.getKey())"><i class="icon-thumbs-down"></i></a>
                @deadboltPattern("models.Post.delete." + post.getKey()) {
                    <a class="btn btn-mini btn-danger pull-right spaced" href="@routes.PostController.delete(post.getKey())">@Messages("delete")</a>
                }
                @deadboltPattern("models.Post.edit." + post.getKey()) {
                    <a class="btn btn-mini pull-right spaced" href="@routes.PostController.editForm(post.getKey())">@Messages("edit")</a>
                }
               	</td>
            </tr>
            <tr>
                <td>
                    <blockquote>@nl2br(post.getContent())</blockquote>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <div id="pagination" class="pagination">
        <ul>
            @if(currentPage.hasPrev) {
                <li class="prev">
                    <a href="@routes.PostController.list(currentPage.getPageIndex - 1)">&larr; @Messages("Previous")</a>
                </li>
            } else {
                <li class="prev disabled">
                    <a>&larr; @Messages("Previous")</a>
                </li>
            }
            <li class="current">
                <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
            </li>
            @if(currentPage.hasNext) {
                <li class="next">
                    <a href="@routes.PostController.list(currentPage.getPageIndex + 1)">@Messages("Next") &rarr;</a>
                </li>
            } else {
                <li class="next disabled">
                    <a>@Messages("Next") &rarr;</a>
                </li>
            }
        </ul>
    </div>
    
    }
