@(currentPage: Page[Post])
@import helper._ 
@import helper.twitterBootstrap._
@import helper.H._

	<h2>@currentPage.getTotalRowCount post(s)</h2>
	
	<h4><a href="@routes.PostController.newForm">Create a new post</a></h4>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
	
    <table class="posts zebra-striped">
        <thead>
            <tr>
                <th class="header">Posts</th>
            </tr>
        </thead>
        <tbody>
        @for(post <- currentPage.getList) {
            <tr>
                <td>
                	<a href="@routes.PostController.show(post.key, sanitize(post.title))">@post.title</a>
                    <a class="btn" href="@routes.PostController.editForm(post.key)">edit</a>
                    <a class="btn" href="@routes.PostController.delete(post.key)">delete</a>
                    <br/>
                    @prettify(post.createdOn) @if(post.getCreatedBy() != null) {by @partials.userProfile(post.getCreatedBy())} 
                    @if(post.getUpdatedBy() != null) {updated @prettify(post.updatedOn) by @partials.userProfile(post.getUpdatedBy())} 
               	</td>
            </tr>
            <tr>
                <td colspan="3"><p>@nl2br(post.content)</p></td>
            </tr>
        }
        </tbody>
    </table>
    
    <div id="pagination" class="pagination">
        <ul>
            @if(currentPage.hasPrev) {
                <li class="prev">
                    <a href="@routes.PostController.list(currentPage.getPageIndex - 1)">&larr; Previous</a>
                </li>
            } else {
                <li class="prev disabled">
                    <a>&larr; Previous</a>
                </li>
            }
            <li class="current">
                <a>Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")</a>
            </li>
            @if(currentPage.hasNext) {
                <li class="next">
                    <a href="@routes.PostController.list(currentPage.getPageIndex + 1)">Next &rarr;</a>
                </li>
            } else {
                <li class="next disabled">
                    <a>Next &rarr;</a>
                </li>
            }
        </ul>
    </div>
    
    }
