@(post: Post, upVotedPostKeys:java.util.Set[Long], downVotedPostKeys:java.util.Set[Long]) 
@import helper._ 
@import helper.H._
@import helper.PostHelper._

<tr>
	<td id="rating-col" class="center-horizontal col-post-rate noborder-right noborder-bottom">
		<strong class="center-horizontal rating rate" data-key="rate-@post.getKey()" >@post.getRating()</strong>
		<br/>
		@partials.rateButtons(post, upVotedPostKeys, downVotedPostKeys)
	</td>
	<td id="title-col" class="noborder-left noborder-bottom col-post-title nl-withoutSpace">
		<a href="@routes.App.postShow(post.getKey(), sanitizeURL(post.getTitle()))">@postTitle(post)</a>
	</td>
	<td id="image-col" rowspan="2" class="noborder-left  col-post-image">
		<a href="@routes.App.postShow(post.getKey(), sanitizeURL(post.getTitle()))">@partials.image(post.getImage())</a>
	</td>
</tr>
<tr>
	<td colspan="2" class="noborder-top">
		@if(post.getContent().length < 200){
			<p class="noleft nl-withoutSpace">@postContent(post)</p>
		}else{
			<p class="noleft nl-withoutSpace">@post.getContent().take(200) ...</p>
			<a class="noleft" href="@routes.App.postShow(post.getKey(), sanitizeURL(post.getTitle()))"> @Messages("Read_More") <i class="fa fa-angle-double-right " style="text-decoration: none"></i></a>
		}
		<div class="postfooter">
			<ul class="list-inline">
				<li>
					<a  href="@routes.App.postShow(post.getKey(), sanitizeURL(post.getTitle()))#Comments"><i class="fa fa-comment" style="text-decoration: none"></i>@post.getComments().size() @Messages("Comment")</a>
				</li>
			</ul>
		</div>
	
</tr>