@(post: Post, upVotedPostKeys:Set[Long], downVotedPostKeys:Set[Long]) 
@import helper._ 
@import views.html.security._
@import helper.PostHelper._

@roleHolderPresent() {
	@if(postIsVotedUp(post, upVotedPostKeys)) {	 
       <a class="btn-rate rate disabled" data-key="rate-@post.getKey()" href="javascript:void(0)" data-href="@routes.App.rateUp(post.getKey())"> <i class="icon-caret-up rated icon-large" style="text-decoration: none"></i></a>  
	} else {
	   <a class="btn-rate rate" data-key="rate-@post.getKey()" href="javascript:void(0)" data-href="@routes.App.rateUp(post.getKey())"> <i class="icon-caret-up unrated icon-large" style="text-decoration: none"></i></a>
	}
    
    @if(postIsVotedUp(post, downVotedPostKeys)) {
       <a class="btn-rate rate disabled" data-key="rate-@post.getKey()" href="javascript:void(0)" data-href="@routes.App.rateDown(post.getKey())"> <i class="icon-caret-down rated icon-large" style="text-decoration: none"></i></a>
    } else {
	   <a class="btn-rate rate" data-key="rate-@post.getKey()" href="javascript:void(0)" data-href="@routes.App.rateDown(post.getKey())"> <i class="icon-caret-down unrated icon-large" style="text-decoration: none"></i></a>
    }
}
@roleHolderNotPresent() {
	<a data-toggle="modal" href="javascript:void(0)" data-target="#loginModal" class="rate" data-key="rate-@post.getKey()"><i class="icon-caret-up unrated icon-large" style="text-decoration: none"></i></a>
	<a data-toggle="modal" href="javascript:void(0)" data-target="#loginModal" class="rate" data-key="rate-@post.getKey()"><i class="icon-caret-down unrated icon-large" style="text-decoration: none"></i></a>
}
