@(post: Post) 
@import helper._ 
@import helper.H._
@import helper.PostHelper._
@import helper.ContentReportHelper._
@import views.html.security._

@roleHolderPresent() {
	<a class="btn btn-xs btn-warning" data-toggle="modal" href="#report-@post.getKey()"> <i class="fa fa-warning"></i>&nbsp;@Messages("Report_content")</a>

	<!-- Modal -->
	<div id="report-@post.getKey()" class="modal hide fade report-modal" tabindex="-1" role="dialog"
		aria-labelledby="report-@post.getKey()-label" aria-hidden="true">
		<div class="modal-header container">
		    <div class="row">
		    	<div class="col-md-10 col-md-offset-1">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="report-@post.getKey()-label">@Messages("Report_content_title")</h3>
				</div>
			</div>
		</div>
		<div class="modal-body container">
		    <div class="row">
		    	<div class="col-md-10 col-md-offset-1">
		    	@if(post.getTitle().length < 60) {
		    		<p class="lead nl-withoutSpace">@post.getTitle()</p>
	    		} else {
		    		<p class="lead nl-withoutSpace">@post.getTitle().take(60) ...</p>
	    		}
		    	</div>
		    </div>
    		<div class="row">
		    	<div class="col-md-10 col-md-offset-1">
		    	@if(post.getContent().length < 200){
	       			<p class="nl-withoutSpace">@post.getContent()</p>
       			} else {
	       			<p class="nl-withoutSpace">@post.getContent().take(200)</p>
       			}
	       			<small>
	 			        @if(post.getUpdatedBy() == null) { 
				        @Html(Messages("CreatedOn_By", prettify(post.getCreatedOn()), partials.userProfile(post.getCreatedBy()))) } else { 
				        @Html(Messages("UpdatedOn_By", prettify(post.getUpdatedOn()), partials.userProfile(post.getUpdatedBy()))) }
	       			</small>
       			</div>
    		</div>
    		
    		<div class="row">
		    	<div class="col-md-10 col-md-offset-1">
		    		<p>
		    			<hr>
		    			<br>
		    			@Messages("I_want_to_report_the_content_above_because")
	    		</div>
    		</div>
    		
	    	<div id="report-form" class="row">
		    	<div class="col-md-10 col-md-offset-1">
		    	@defining(reportForm()) { repForm =>
	    		<form action="@routes.Api.contentReportCreate()" onsubmit="reportForm(this); return false;">
				    
				    <input name="contentKey" type="hidden" value="@post.getKey()" />
	
				    <input name="contentType" type="hidden" value="@models.ContentReport.ContentType.POST" />
				    
				    <input name="modalKey" type="hidden" value="#report-@post.getKey()" />
				    
				    <div class="form-group">
				    @select(repForm("reason"), args = '_label -> Messages("ContentReport.reason.label"), options=postReasons.map{ c => c -> (Messages("ContentReport." + c)) })
				    </div>
				        
				    <div class="form-group"> 
				    @textarea(repForm("comment"), args = '_label -> Messages("ContentReport.comment.label"), Symbol("data-maxchars") -> "500", Symbol("class") -> "input-xlarge")
				    </div>

					<div class="alert hide alert-success" id="submit-done">@Messages("Report_saved")</div>
					<div class="alert hide alert-danger" id="submit-error">@Messages("Error_occured")</div>
					<div class="alert hide alert-danger" id="submit-missing">@Messages("Comment_missing")</div>
					<input type="button" class="btn" data-dismiss="modal" aria-hidden="true" value='@Messages("Close")' />
					<input type="submit" class="btn btn-primary btn-report" value='@Messages("Report")' data-loading-text='@Messages("Reporting...")'/>
					<div class="status"></div>
				</form>
				}
				<!-- report -->
	    		</div>	
	    	</div>
		</div>
	</div>
} 

@roleHolderNotPresent() {
	<a class="btn btn-xs btn-warning" data-toggle="modal" href="javascript:void(0)" data-target="#loginModal" > <i class="fa fa-warning"></i>&nbsp;@Messages("Report_content")</a>
}
