@(user: models.User, reputation: models.UserReputation, followerCount:Integer, followingCount:Integer)

@import helper.H._
@import helper.UserHelper._
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
<div class="span2">
	<div class="clearfix">
		<div class="center-horizontal">
			<h3>
				<img src="@getProfileImageURLWithNormalSize(user)"
					alt="@user.getFirstName() @user.getLastName()"
					width="120px" />
			</h3>
			<h4>
				<span>@user.getFirstName()
					@user.getLastName()</span>
			</h4>
		</div>
		<dl class="center-horizontal">
			@restrict(la(as("admin"))) {

			<dt>@Messages("joinedOn")</dt>
			<dd>@formatDateToDayAndYear(user.getCreatedOn())</dd>
			}

		</dl>
		<div class="span12">
			<ul class="stats">
				<li id="reputation"><strong>@reputation.getValue()</strong>
				<span>@Messages("reputation")</span>
				</li>
			</ul>
		</div>
		<div class="span12">
			<ul class="stats">
				<li><a href="@routes.App.userFollowings(user.getKey())"> <strong>@followingCount</strong>
					<span>@Messages("Following")</span>
				</a></li>
				<li><a href="@routes.App.userFollowers(user.getKey())"> <strong>@followerCount</strong>
					<span>@Messages("Followers")</span>
				</a></li>
			</ul>
		</div>
	</div>
</div>