@(userToBeShowed: models.User,followerCount:Integer, followingCount:Integer)

@import helper.H._
@import helper.UserHelper._
@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.utils.TemplateUtils._
<div class="span2">
	<div class="clearfix">
		<div class="center-horizontal">
			<h3>
				<img src="@getProfileImageURLWithNormalSize(userToBeShowed)"
					alt="@userToBeShowed.getFirstName() @userToBeShowed.getLastName()"
					width="120px" />
			</h3>
			<h4>
				<span>@userToBeShowed.getFirstName()
					@userToBeShowed.getLastName()</span>
			</h4>
		</div>
		<dl class="center-horizontal">
			@restrict(la(as("admin"))) {

			<dt>@Messages("joinedOn")</dt>
			<dd>@formatDateToDayAndYear(userToBeShowed.getCreatedOn())</dd>
			}

		</dl>
		<div class="span12">
			<ul class="stats">
				<li id="reputation"><strong>@calculateReputation(userToBeShowed)</strong>
				<span>@Messages("reputation")</span>
				</li>
			</ul>
		</div>
		<div class="span12">
			<ul class="stats">
				<li><a href="@routes.App.userFollowings(userToBeShowed.getKey())"> <strong>@followingCount</strong>
					<span>@Messages("Following")</span>
				</a></li>
				<li><a href="@routes.App.userFollowers(userToBeShowed.getKey())"> <strong>@followerCount</strong>
					<span>@Messages("Followers")</span>
				</a></li>
			</ul>
		</div>
	</div>
</div>