html {
    background: #eee;
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

section#main {
    position: relative;
    padding: 6em 3em;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
} 

section#main .topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}

.profile { display:inline; }
.profile img { max-height: 22px; max-width: 22px;}
.spaced {margin-left:3px;}
.center-horizontal { margin-left:auto; margin-right:auto; text-align:center; }

.table-bordered .noborder { border: 0px none; }
.table-bordered .noborder-left { border-left: 0px none; }
.table-bordered .noborder-right { border-right: 0px none; }
.table-bordered .noborder-top { border-top: 0px none; }
.table-bordered .noborder-bottom { border-bottom: 0px none; }

.noleft { padding-left: 50px; border-left: 0px none; }
#rating-col { padding: 8px 6px; text-align:center; }

h1 {padding-bottom: 1em; }
h2 {padding-bottom: 1em; }
h3 {padding-bottom: 1em; }
h4 {padding-bottom: 1em; }

.post-img {width: 120px; height: 90px; max-width: 120px; max-height: 90px; line-height: 20px;}
.post-img-preview {max-width: 120px; line-height: 20px;}
