html {
    background: #eee;
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

section#main {
    position: relative;
    padding: 3em 2em;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
} 

section#main .topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}

.profile { display:inline; }
.profile img { height: 22px; }
.spaced {margin-left:6px;}

.table-bordered .noborder { border: 0px none; }
.table-bordered .noborder-left { border-left: 0px none; }
.table-bordered .noborder-right { border-right: 0px none; }
.table-bordered .noborder-top { border-top: 0px none; }
.table-bordered .noborder-bottom { border-bottom: 0px none; }

.noleft { padding-left: 50px; border-left: 0px none; }
#rating-col {padding: 8px 2px;}
