html {
    position: relative;
  	min-height: 100%;
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

section#main {
    position: relative;
    padding: 5em 1em;
    min-height: 600px;
} 

section#main .topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}

.profile { display:inline; }
.profile img { max-height: 22px; max-width: 22px;}
.spaced {margin-left:3px;}
.center-horizontal { margin-left:auto; margin-right:auto; text-align:center; }

.table-bordered .noborder { border: 0px none; }
.table-bordered .noborder-left { border-left: 0px none; }
.table-bordered .noborder-right { border-right: 0px none; }
.table-bordered .noborder-top { border-top: 0px none; }
.table-bordered .noborder-bottom { border-bottom: 0px none; }

.noleft { padding-left: 50px; border-left: 0px none; }
#rating-col { padding: 8px 6px; text-align:center; }
.rate { margin-left: 2px; margin-right: 2px; font-size: 22px;}
.unrated { font-weight: normal; color: #b3b3b3; }
.rated { font-weight: bolder; color: #ffc030; }
a.disabled { pointer-events: none; cursor: default; }

h1 {padding-bottom: 1em; }
h2 {padding-bottom: 1em; }
h3 {padding-bottom: 1em; }
h4 {padding-bottom: 1em; }

.post-img {width: 120px; height: 90px; max-width: 120px; max-height: 90px; line-height: 20px;}
.post-img-preview {max-width: 120px; line-height: 20px;}

/* Custom facebook icon created by http://charliepark.org/bootstrap_buttons/ with values:
   Hue: 221, Sat: 44, Light: 41, Puffiness: 0 */
.btn-facebook { background-color: hsl(221, 44%, 41%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a5796", endColorstr="#3a5796"); background-image: -khtml-gradient(linear, left top, left bottom, from(#3a5796), to(#3a5796)); background-image: -moz-linear-gradient(top, #3a5796, #3a5796); background-image: -ms-linear-gradient(top, #3a5796, #3a5796); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3a5796), color-stop(100%, #3a5796)); background-image: -webkit-linear-gradient(top, #3a5796, #3a5796); background-image: -o-linear-gradient(top, #3a5796, #3a5796); background-image: linear-gradient(#3a5796, #3a5796); border-color: #3a5796 #3a5796 hsl(221, 44%, 41%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00); -webkit-font-smoothing: antialiased; }

.icon-larger {
  font-size: 1.6666em;
}

/* preserve new lines in text*/ 
.nl {word-wrap:break-word;}

/* table column size adjustments */
.col-post-rate { min-width: 36px; max-width: 36px; }
.col-post-title { min-width: 410px; }
.col-post-image { min-width: 120px; max-width: 120px; }

div.fb-like {min-height: 30px; height: 80px; }

/* for image thumbnails */
.image .modal { display:none;padding:5px 5px 0 5px; width:80%; margin-left:-40%; }
.modal-header-withoutBorder { margin-bottom: 10px; }

/* makes new line without space*/ 
.nl-withoutSpace{word-break: break-all; word-wrap: break-word;} 

a:focus { outline:none }

ul.stats{border-bottom: 1px solid #DDDDDD;
    margin: 5px 0 17px;
    padding: 6px 0 15px; 
    text-align: center;
}
ul.stats li {
    display: inline-block;
    list-style-type: none;
    min-width: 60px;
}
ul.stats li strong {font-size: 28px;font-weight: bold;}
ul.stats li#reputation strong{font-size: 36px;font-weight: bold;}
ul.stats li span {color: #999999;display: block;font-size: 11px;margin-top: -2px;}

.gravatar {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    float: left;
    margin-right: 10px;
    padding: 1px;
}

.report-modal .modal-body { max-height: 800px; }
.report-modal { width: 800px; margin: -60px 0 0 -400px; }

.container-narrow {
    margin: 0 auto;
    max-width: 980px;
}

/* top post list tabs */
.nav-tabs>li>a,.nav-pills>li>a{padding-right:7px;padding-left:7px;margin-right:2px;line-height:14px;}

.footerPart{margin-top:50px;border-top: 1px solid #CCCCCC; padding-top: 1em;}

#content {
  padding-bottom: 50px;
}
#footer .navbar{
  position: absolute;
  border-top: 1px solid #CCCCCC;
}

.hero {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 20px;
    padding-bottom: 0;
}
.accordion {
    margin-bottom: 20px;
}
.faq .accordion-group {
    border: medium none;
    border-radius: 0 0 0 0;
    margin: 10px 0;
}
.faq .accordion-inner {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E8E8E8;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5px;
    padding: 10px 10px 0;
}

.faq .accordion-heading .accordion-toggle {
    display: block;
    padding: 0;
}
.faq .accordion-heading a, .faq .accordion-heading a:visited, .faq .accordion-heading a:hover {
    border: 0 none !important;
    text-decoration: none;
}
.faq .accordion-heading h5 {
    color: #888888;
    font-size: 16px;
}
.post-footer{margin-bottom: -15px;margin-top:15px;padding-left: 45px;}
