@(page: Page[CRUDModel], modelName: String, keyFieldName: String, fieldNames: List[String])
@import helper._ 
@import helper.twitterBootstrap._
@import helper.H._

@main("admin") {
    
    <h3>@Messages("CRUD admin page")</h3>
    
    <h3>@page.getTotalRowCount @modelName (s)</h3>
    
    <h4><a href="@routes.AdminController.newForm(modelName)">@Messages("Create new")</a></h4>
    
    @if(page.getTotalRowCount == 0) {
        
        <div class="well">
            <em>@Messages("Nothing to display")</em>
        </div>
        
    } else {
    
    <table class="posts table table-striped table-bordered">
        <thead>
            <tr>
        @for(fieldName <- fieldNames) {
                <th class="header">@fieldName</th>
        }
                <th class="header">@Messages("edit")</th>
                <th class="header">@Messages("delete")</th>
            </tr>
        </thead>
        <tbody>
        @for(model <- page.getList) {
            <tr>
            @for(fieldName <- fieldNames) {
                @if(fieldName.equals(keyFieldName)) {
                <td><a href="@routes.AdminController.show(modelName, model.getKey())">@string(model.getField(fieldName))</a></td>
                } else {
                <td>@string(model.getField(fieldName))</td>
                }
            }
                <td>
                    <a href="@routes.AdminController.editForm(modelName, model.getKey())"><i class="icon-edit"></i></a>
                </td>
                <td>
                    <a href="@routes.AdminController.delete(modelName, model.getKey())"><i class="icon-trash"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    }
    
}