@(currentPage: Page[Post], topDayPage: Page[Post], topWeekPage: Page[Post], topAllPage: Page[Post], user: models.User)

@main(Messages("home")) {
<div class="container-fluid">
	<div class="row-fluid">
	    <div class="span12">
	
		    <h2>@Html(Messages("Welcome", partials.userProfile(user))) </h2> 
		    @if(user != null) {<p><a class="btn" href="@socialauth.controllers.routes.SocialLogin.logout()">@Messages("Logout")</a> </p>}
		    <p>@Html(Messages("Project_definition"))</p>
		    
			@if(user == null) {
		    <br/>
				@***** no user in context *****@
				@partials.login()
			}
			
			<hr/>
			
			<div class="row-fluid">
			    <div class="span7">
					@partials.postList(currentPage)
				</div>
			    <div id="top-div" class="span4">
					<!-- Top lists -->
					<ul id="top-tab" class="nav nav-tabs" data-spy="scroll" data-target="#top-div">
			  			<li class="active"><a data-toggle="tab" href="#top_day">@Messages("Daily_Top10")</a></li>
			  			<li><a data-toggle="tab" href="#top_week">@Messages("Weekly_Top10")</a></li>
			  			<li><a data-toggle="tab" href="#top_all">@Messages("Overall_Top10")</a></li>
					</ul>
		            <div class="tab-content">
		              	<div class="tab-pane fade in active" id="top_day">@partials.postTopList(topDayPage)</div>
		              	<div class="tab-pane fade" id="top_week">@partials.postTopList(topWeekPage)</div>
		              	<div class="tab-pane fade" id="top_all">@partials.postTopList(topAllPage)</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
}
