@(post: Post, loggedInUser: models.User)(content: Html)
@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.utils.TemplateUtils._
<!DOCTYPE html>
	
<html>
    <head>
        @partials.mainHead(post.getTitle())

		<meta property="fb:app_id" content="441048632604409">
		<meta property="og:title"  content="@post.getTitle()">
		<meta property="og:type"  content="publicplay:fiyat">
		<meta property="og:url"  content="http://@request.host@request.uri">
		<meta property="og:description"  content="@post.getContent()">
		@if(post.getImage() != null) {
		<meta property="og:image"  content="@post.getImage().getUrl()">
		}
    </head>
	<body>
    	@partials.mainBody(loggedInUser)
		<section id="main">
            @content
        </section>
	</body>
</html>
