@(post: Post, commentKey:Long, commentForm: Form[Comment], selfURL: String, user: socialauth.core.SocialUser) 
@import helper._ 
@import helper.twitterBootstrap._
@import helper.H._
@main("show") {
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=441048632604409";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<h2>@post.getTitle()</h2>
	<p>@prettify(post.updatedOn)</p>
	<p>@nl2br(post.content)</p>
	<div class="fb-like" data-href="@selfURL" data-send="false" data-width="550" data-show-faces="true"></div>
	
	@* comments *@
	@if(post.comments.isEmpty()) {
        <h3>no comments yet, be the first one:</h3>
	} else {
        <table class="posts zebra-striped">
            <thead>
                <tr>
                    <th class="header">Comments</th>
                </tr>
            </thead>
            <tbody>
        @for(comment <- post.comments) {
                <tr>
                    <td>
	                    @nl2br(comment.getContent())
	                    <br/>
	                    <a class="btn" href="@routes.PostController.editCommentForm(post.key, comment.getKey())">edit</a>
	                    <br/>
	                    @prettify(comment.createdOn) @if(comment.createdBy != null) {by @partials.userProfile(comment.createdBy.toSocialUser())} 
	                    @if(comment.updatedBy != null) {updated @prettify(comment.updatedOn) by @partials.userProfile(comment.updatedBy.toSocialUser())}
                    </td> 
                </tr>
        }
            </tbody>
        </table>
        <h3>drop your comment:</h3>
	}
	
    @if(user == null) {
    
    <br/>
    
        @***** no user in context *****@
        <p>
        You must login to comment.
        </p>
        @partials.login()
        
    } else {
    
	    @form(if(commentKey != null) { routes.PostController.updateComment(post.key, commentKey) } 
	          else                   { routes.PostController.createComment(post.key, post.title) }) { 
	        @textarea(commentForm("content"))
            <div>
               <input type="submit" value="@if(commentKey != null) { Update } else { Post }">
               as @partials.userProfile(user)
            </div>
	    }

    }
	
}
