@(key: Long, postForm: Form[Post], user: models.User)
@import helper._ 
@import helper.twitterBootstrap._

@main(if(key != null) Messages("update_post") else Messages("new_post"), user) {
        
	<h3>@if(key != null) { @Messages("update_post_detail") } else { @Messages("new_post_detail") } </h3>

    @form(if(key != null) { routes.PostController.update(postForm.get().getKey()) } 
          else            { routes.PostController.create() },
          'class -> "form-horizontal",
          'enctype -> "multipart/form-data") {
        
        <div class="control-group"> 
        @inputText(postForm("title"), args = '_label -> Messages("Post.title.label"))
        </div>
        
        <div class="control-group">
        @textarea(postForm("content"), args = '_label -> Messages("Post.content.label"))
        </div>
        
        <div class="control-group">
			<div class="clearfix  " id="content_field">
			    <label for="image">@Messages("Post.image.label")</label>

				<div class="fileupload fileupload-new" data-provides="fileupload">
					<div class="fileupload-new thumbnail post-img" data-dismiss="fileupload">
						<img data-src="holder.js/120x90/#fefef9:#000/text:@Messages("Post.image.no_image")" />
					</div>
					<div class="fileupload-preview fileupload-exists thumbnail post-img-preview"></div>
					<div>
						<span class="btn btn-mini btn-warning btn-file">
                            <span class="fileupload-new">@Messages("Post.image.select_image")</span>
							<span class="fileupload-exists">@Messages("Post.image.change_image")</span>
                            <input type="file" id="image" name="image" />
						</span> 
						<a href="#" class="btn btn-mini btn-danger fileupload-exists" 
						      data-dismiss="fileupload">@Messages("Post.image.remove_image")</a>
					</div>
				</div>
			</div>
        </div>
         
        <div>
            <input type="submit" class="btn btn-success" value="@if(key != null) { @Messages("Update") } else { @Messages("Post") }">
            @Html(Messages("as_profile", partials.userProfile(user)))
        </div>
    } 
}
