@(key: Long, postForm: Form[Post], user: models.User)
@import helper._ 
@import helper.twitterBootstrap._
@main(if(key != null) "update post" else "new post") {
        
	<h2>Add a new post</h2>
    
    @if(user == null) {
    
    <br/>
    
        @***** no user in context *****@
        <p>
        You must login to add a new post.
        </p>
        @partials.login()
        
    } else {

	    @form(if(key != null) { routes.PostController.update(postForm.get().key) } 
	          else            { routes.PostController.create() }) { 
	        @inputText(postForm("title"))
	        @textarea(postForm("content"))
	        <div>
	           <input type="submit" value="@if(key != null) { Update } else { Post }">
	           as @partials.userProfile(user)
	        </div>
	    } 

    }
}
