@(post: Post, commentKey:Long, commentForm: Form[Comment], user: models.User, currentPage: Page[Comment], votedPostKeys:Set[Long])
@import helper._ 
@import helper.twitterBootstrap._
@import helper.H._
@import be.objectify.deadbolt.utils.TemplateUtils._
@import views.html.security._

@main(post.getTitle(), user) {
<div class="container-fluid">

    <div class="row">
        <div class="span12">
		    <p class="lead">
		        @post.getTitle()
		    </p>
	    </div>
    </div>
       
    <div class="row">
        <div class="span12">
            <p class="lead">
                <strong class="rating" data-key="rate-@post.getKey()" >@post.getRating()</strong>
                @partials.rateButtons(post, votedPostKeys)                    
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span2">
            @partials.image(post.getImage())
        </div>
        <div class="span10">
            <blockquote>
                @nl2br(post.getContent())
            </blockquote>
            <small>
                @Html(Messages("CreatedOn_By", prettify(post.getCreatedOn()), partials.userProfile(post.getCreatedBy())))
            @if(post.getUpdatedBy() != null) {
                ,@Html(Messages("UpdatedOn_By", prettify(post.getUpdatedOn()), partials.userProfile(post.getUpdatedBy())))
            }
            </small>
            @restrictCombine(la(as("admin")), "models.Post.delete." + post.getKey()) {
                <a class="btn btn-mini btn-danger pull-right spaced" href="@routes.PostController.delete(post.getKey())">@Messages("delete")</a>
            }
            @restrictCombine(la(as("admin")), "models.Post.edit." + post.getKey()) {
                <a class="btn btn-mini pull-right spaced" href="@routes.PostController.editForm(post.getKey())">@Messages("edit")</a>
            }
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <hr/>
            <div class="fb-like" data-href="" data-send="false" data-width="550" data-show-faces="true"></div>
        </div>
    </div>
    
    <div class="row">
        <div class="span12">
    @* comments *@
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <h4>@Messages("no_comments_yet")</h4>
        </div>
        
    } else {

        <table class="comments table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="header">@Messages("Comments")</th>
                </tr>
            </thead>
            <tbody>
        @for(comment <- currentPage.getList.reverse) {
                <tr>
                    <td>
                        <blockquote> @nl2br(comment.getContent()) </blockquote>
                        <br/>
                        <small>
                        @Html(Messages("CreatedOn_By", prettify(comment.getCreatedOn()), partials.userProfile(comment.getCreatedBy())))
                    @if(comment.getUpdatedBy() != null) {
                        ,@Html(Messages("UpdatedOn_By", prettify(comment.getUpdatedOn()), partials.userProfile(comment.getUpdatedBy())))
                    }
                        </small>
                    @deadboltPattern("models.Comment.edit." + comment.getKey()) {
                        <a class="btn btn-mini" href="@routes.PostController.editCommentForm(post.getKey(), comment.getKey())#form">@Messages("edit")</a>
                    }
                    @deadboltPattern("models.Comment.delete." + comment.getKey()) {
                        <a class="btn btn-mini btn-danger" href="@routes.PostController.deleteComment(post.getKey(), comment.getKey())">@Messages("delete")</a>
                    }
                    </td> 
                </tr>
        }
            </tbody>
        </table>
        
     	@if(currentPage.getTotalRowCount > Constants.COMMENTS_PER_PAGE) {
     	
        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@routes.PostController.show(post.getKey(), sanitize(post.getTitle()), currentPage.getPageIndex - 1)">&larr; @Messages("Previous")</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; @Messages("Previous")</a>
                    </li>
                }
                <li class="current">
                    <a>@paging(currentPage)</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@routes.PostController.show(post.getKey(), sanitize(post.getTitle()), currentPage.getPageIndex + 1)">@Messages("Next") &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>@Messages("Next") &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
        }
        
        <h4>@Messages("drop_your_comment")</h4>
    }
        </div>
    </div>
    
    <div class="row">
        <div class="span12">

        @form(if(commentKey != null) { routes.PostController.updateComment(post.getKey(), commentKey) } 
              else                   { routes.PostController.createComment(post.getKey(), sanitize(post.getTitle())) } , 'id -> "form") { 
            
            @textarea(commentForm("content"), args = '_label -> Messages("Comment.content.label"))
            
            <div>
			@roleHolderPresent() {
               <input type="submit" value="@if(commentKey != null) { @Messages("Update") } else { @Messages("Post") }">
               @Html(Messages("as_profile", partials.userProfile(user)))
			}
			@roleHolderNotPresent() {
               <input type="submit" data-toggle="modal" data-target="#loginModal" value="@if(commentKey != null) { @Messages("Update") } else { @Messages("Post") }">
			}
        </div>
       }
    </div>
    
</div>
    
}
