@(list: List[Post]) 
@import helper._ 
@import helper.twitterBootstrap._
@import helper.H._

        
	<h1>@list.size() post(s)</h1>
	
    <table class="posts zebra-striped">
        <thead>
            <tr>
                <th class="header">Post</th>
                <th class="header">Edit</th>
                <th class="header">Delete</th>
            </tr>
        </thead>
        <tbody>
        @for(post <- list) {
            <tr>
                <td><a href="@routes.PostController.show(post.key)">@post.title</a></td>
                <td><a href="@routes.PostController.editForm(post.key)">edit</a></td>
                <td><a href="@routes.PostController.delete(post.key)">delete</a></td>
            </tr>
            <tr>
                <td colspan="3"><p>@nl2br(post.content)</p></td>
            </tr>
        }
        </tbody>
    </table>
