@(user: models.User, reputation: models.UserReputation, self: Boolean,tabName:String, upVotedPostKeys: java.util.Set[java.lang.Long], downVotedPostKeys: java.util.Set[java.lang.Long], following: java.lang.Boolean, followerCount:java.lang.Integer, followingCount:java.lang.Integer,
currentVotedPostPage: com.avaje.ebean.Page[Post])
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.core.utils.TemplateUtils._
@import views.html.security._
@import helper.H._
@import controllers._

@scripts = {
        <script src="@routes.Assets.at("javascripts/user_follow.js")" type="text/javascript"></script>
}

@template.main(Messages("user_information"), scripts = scripts) {

    @if(user == null) {
    
    <div class="page-header">
        <p class="text-danger"> @Messages("User not found") </p>
    </div>
    
    } else {
    
	<div class="container">
    	<div class="row">
    		@partials.userShowLeftPane(user, reputation, followerCount, followingCount)
    		
	        <div class="col-md-10" id="top-div">
	        	@partials.userShowTabs(user, self, following, Constants.VOTED_POSTS)
	        	<div class="tab-content">
	        		
	        		<div id="user_Posts"  class="tab-pane fade in active">             	
	        			<table class="posts table table-striped table-bordered">   		
	        				<tbody>
	        					@for(post <- currentVotedPostPage.getList) {
	        						@partials.postTable(post, upVotedPostKeys, downVotedPostKeys)
	        					}
	        				</tbody>
	        			</table>
	        			 
	        		</div>
	             </div>
	             	@partials.pagination(currentVotedPostPage, Constants.POSTS_PER_PAGE, 
            				routes.App.userShow(user.getKey(), tabName, currentVotedPostPage.getPageIndex - 1),
            				routes.App.userShow(user.getKey(), tabName, currentVotedPostPage.getPageIndex + 1))
	        </div>
	    </div>
	</div>
    }
}
