@(user: socialauth.core.SocialUser)
@main("user information") {
	@if(user == null) {
	
		@***** no user in context *****@
		@partials.login()
		
	} else {

	<div class="page-header">
	    <h2><img src="@user.profile.getProfileImageURL()" alt="@user.profile.getFirstName() @user.profile.getLastName()" width="40px"/> Welcome @user.profile.getFirstName()</h2>
	</div>
	
	<div class="clearfix">
	    <h2>User Details</h2>
	
	    <ul>
	        <li> <a href="https://www.facebook.com/profile.php?id=@user.profile.getValidatedId()">Facebook Profile</a></li>
	        <li> User Id: @user.profile.getValidatedId()</li>
	        <li> Logged in from: @user.profile.getProviderId()</li>
	        <li> Email: @if( user.profile.getEmail() != null ) { @user.profile.getEmail() } else { Not Available } </li>
	        <li> FirstName: @user.profile.getFirstName() </li>
	        <li> LastName: @user.profile.getLastName() </li>
	        <li> Language: @user.profile.getLanguage() </li>
	        <li> Date of Birth: @user.profile.getDob() </li>
	        <li> Gender: @user.profile.getGender() </li>
	        <li> Location: @user.profile.getLocation() </li>
	    </ul>
	
	</div>

	}
}
