@(user: models.User, self: Boolean)
@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.utils.TemplateUtils._
@import helper.H._

@main(Messages("user_information")) {

    @if(user == null) {
    
    <div class="page-header">
        <p class="text-error"> @Messages("User not found") </p>
    </div>
    
    } else {
    
	<div class="page-header">
        <h3>@Messages("User_Details")</h3>
	</div>
	
	<div class="clearfix">
        <h3>
            <img src="@user.getProfileImageURL()" alt="@user.getFirstName() @user.getLastName()" width="40px"/>
            @user.getFirstName() @user.getLastName()
        </h3>
        <p class="text-info">@if(self) { @Messages("This_is_you") }</p>
	
        <dl class="dl-horizontal">
        
            @restrict(la(as("admin"))) {
            <dt class="text-info"> @Messages("Roles") </dt>
            <dd class="text-info"> @if(user.getSecurityRoles().size == 0) { &nbsp; } @for(role <- user.getSecurityRoles()) { @role.getName() &nbsp; } </dd>
            }
            
	        <dt> @Messages("User.Profile") </dt> 
	        <dd><a href="https://www.facebook.com/profile.php?id=@user.getOriginalKey()">@user.getFirstName() @user.getLastName()</a></dd>
	        
	        <dt> @Messages("User.Logged_in_from") </dt>
	        <dd> @user.getProvider()</dd>
	        
	        <dt> @Messages("User.Email") </dt>
	        <dd> @if( user.getEmail() != null ) { @user.getEmail() } else { @Messages("Not_Available") } </dd>
	        
	        <dt> @Messages("User.FirstName") </dt>
	        <dd> @user.getFirstName() </dd>
	        
	        <dt> @Messages("User.LastName") </dt>
	        <dd> @user.getLastName() </dd>
	        
	        <dt> @Messages("User.Date_of_Birth") </dt> 
	        <dd> @prettify(user.getBirthdate()) </dd>
	        
	        <dt> @Messages("User.Gender") </dt>
	        <dd> @user.getGender() </dd>
	        
	        <dt> @Messages("User.Location") </dt>
	        <dd> @user.getLocation() </dd>
	        
	    </dl>
	
	</div>
    }
}
