@(user: models.User, self: Boolean)
@main("user information") {

    @if(user == null) {
    
    <div class="page-header">
        <p class="text-error"> User not found! </p>
    </div>
    
    } else {
    
	<div class="page-header">
        <h3>User Details</h3>
	</div>
	
	<div class="clearfix">
        <h3>
            <img src="@user.getProfileImageURL()" alt="@user.getFirstName() @user.getLastName()" width="40px"/>
            @user.getFirstName() @user.getLastName()
        </h3>
        <p class="text-info">@if(self) { This is you! }</p>
        <br/>
	
        <dl class="dl-horizontal">
        
	        <dt> Profile </dt> 
	        <dd><a href="https://www.facebook.com/profile.php?id=@user.originalKey">@user.firstName @user.lastName</a></dd>
	        
	        <dt> Logged in from </dt>
	        <dd> @user.providerId</dd>
	        
	        <dt> Email </dt>
	        <dd> @if( user.email != null ) { @user.email } else { Not Available } </dd>
	        
	        <dt> FirstName </dt>
	        <dd> @user.firstName </dd>
	        
	        <dt> LastName </dt>
	        <dd> @user.lastName </dd>
	        
	        <dt> Date of Birth </dt> 
	        <dd> @user.birthdate </dd>
	        
	        <dt> Gender </dt>
	        <dd> @user.gender </dd>
	        
	        <dt> Location </dt>
	        <dd> @user.location </dd>
	        
	    </dl>
	
	</div>
    }
}
