@(userToBeShowed: models.User,self: Boolean,tabName:String, following: Boolean, 
followerCount:Integer, followingCount:Integer,currentCommentPage: com.avaje.ebean.Page[Comment])
@import be.objectify.deadbolt.java.views.html._
@import be.objectify.deadbolt.utils.TemplateUtils._
@import views.html.security._
@import helper.H._
@import controllers._

@scripts = {
        <script src="@routes.Assets.at("javascripts/user_follow.js")" type="text/javascript"></script>
}

@template.main(Messages("user_information"), scripts = scripts) {

    @if(userToBeShowed == null) {
    
    <div class="page-header">
        <p class="text-error"> @Messages("User not found") </p>
    </div>
    
    } else {
    
	<div class="container-fluid">
    	<div class="row-fluid">
    		@partials.userShowLeftPane(userToBeShowed,followerCount,followingCount)
    		
	        <div class="span10" id="top-div">
	        	@partials.userShowTabs(userToBeShowed,self,following,Constants.COMMENTS)

	        	<div class="tab-content">
	        		
	        		<div id="user_Posts"  class="tab-pane fade in active">             	
	        			<table class="posts table table-striped table-bordered">   		
	        				<tbody>
	        					@for(comment <- currentCommentPage.getList) {
	        						@if(comment.getPost() != null) {
	        						<tr>
	        							<td class="nl-withoutSpace">
	        							<a href="@routes.App.postShow(comment.getPost().getKey(), sanitizeURL(comment.getPost().getTitle()))#@comment.getKey()">@comment.getContent()</a>
	        							</td>
	        						</tr>
	        						}
	        					}
	        				</tbody>
	        			</table>
	        			 
	        		</div>
	             	</div>
	             	@partials.pagination(currentCommentPage, Constants.COMMENTS_PER_PAGE, 
            				routes.App.userShow(userToBeShowed.getKey(), tabName, currentCommentPage.getPageIndex - 1),
            				routes.App.userShow(userToBeShowed.getKey(), tabName, currentCommentPage.getPageIndex + 1))
	        </div>
	    </div>
	</div>
    }
}
