@(userToBeShowed: models.User, self: Boolean, following: Boolean, followerCount:Integer, followingCount:Integer,
 allRoles:List[models.SecurityRole], userRoles:List[models.SecurityRole])
@import be.objectify.deadbolt.views.html._
@import be.objectify.deadbolt.utils.TemplateUtils._
@import views.html.security._
@import helper.H._
@import controllers._

@scripts = {
        <script src="@routes.Assets.at("javascripts/user_follow.js")" type="text/javascript"></script>
}

@template.main(Messages("user_information"), scripts = scripts) {

    @if(userToBeShowed == null) {
    
    <div class="page-header">
        <p class="text-error"> @Messages("User not found") </p>
    </div>
    
    } else {
    
	<div class="container-fluid">
    	<div class="row-fluid">
    		@partials.userShowLeftPane(userToBeShowed,followerCount,followingCount)
    		
	        <div class="span7" id="top-div">
	        	@partials.userShowTabs(userToBeShowed,self,following,Constants.ROLES)

	        	<div class="tab-content">
	        		
	        		<div id="user_Roles"  class="tab-pane fade in active">             	
	        			<table class="posts table table-striped table-bordered">   		
	        				<tbody>
	        					@for(role <- allRoles) {
	        					<tr>
	        						<td class="nl-withoutSpace">
	        						@defining(userRoles.contains(role)) { hasRole =>
	        							<i class="@if(hasRole) {icon-ok} else {icon-circle-blank}"></i>&nbsp; <span class="label @if(userRoles.contains(role)) { label-success }">@role.getName()</span>
	        						}
	        						</td>
	        						</tr>
	        					}
	        				</tbody>
	        			</table>
	        		</div>
	        </div>
	    </div>
	</div>
    }
}
